*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: Arial;
}

body{
    background-color: #e7c498;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border-radius: 30px;
    background-color: #003d40;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 70px;
    max-width: 350px;
    height: 450px;
    position: relative;
}

#root h3{
    color: white;
    padding: 8px;
    font-style: italic;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
}
#root form {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}

#root form .input, .btn{
    padding: 5px 14px;
    border-radius: 5px;
    border: none;
}

#root form .input{
    width: 250px;
}

#root form .btn {
    background-color: #f7f2ec;
    font-style: 18px;
    font-weight: bold;
    cursor: pointer;
}

#root form .btn:hover{
    background-color: #f7d0a0;
}

#posts {
    width: 100%;
}

.post{
    padding: 6px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.post .complated{
    max-width: 170px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.post .complated input{
    margin-right: 7px;
    width: 100%;
}

.post .complated .new-text {
    color: rgb(231, 228, 228);
    padding: 5px;
    border: none;
    background-color: transparent;
    font-size: 16px;
}
.post .complated .new-text:focus {
    border: 0.5px solid gray;
}
.del-line{
    display: none;
    position: absolute;
    top: 11px;
    left: 0;
    width: 160px;
    height: 2px;
    border-width: 0;
    background-color: gray;
}
.del-line.active{
    display: block;
}

.post .change{
    width: 140px;
}
.post .change .del, .edit, .done{
    padding: 3px 5px;
    border-radius: 5px;
    border: none;
    margin-left: 5px;
    cursor: pointer;
}

.done {
    background-color: rgb(147, 235, 166);
}
.done:hover {
    background-color: rgb(56, 128, 72);
}

.post .change .del{
    background-color: rgb(235, 147, 147);
}
.post .change .del:hover{
    background-color: rgb(180, 99, 99);
}

.post .change .edit{
    background-color: rgb(87, 165, 201);
}
.post .change .edit:hover{
    background-color: rgb(41, 101, 129);
}